<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registerservelet</servlet-name>
        <servlet-class>com.eduhub.servlet.Registerservelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginservlet</servlet-name>
        <servlet-class>com.eduhub.servlet.Loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoutservlet</servlet-name>
        <servlet-class>com.eduhub.servlet.Logoutservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>com.eduhub.servlet.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscussionAnswer</servlet-name>
        <servlet-class>com.eduhub.servlet.DiscussionAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswdServelet</servlet-name>
        <servlet-class>com.eduhub.servlet.ResetPasswdServelet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registerservelet</servlet-name>
        <url-pattern>/Registerservelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginservlet</servlet-name>
        <url-pattern>/Loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoutservlet</servlet-name>
        <url-pattern>/Logoutservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/AddPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscussionAnswer</servlet-name>
        <url-pattern>/DiscussionAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswdServelet</servlet-name>
        <url-pattern>/ResetPasswdServelet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
