
body{
    overflow-y: hidden;
}


.tabs{
    display: flex;
    align-items: center;
    width: 100%;
    height: 8vh;
    color: white;
    background-color: darkslategrey;
    font-size: 1.8em;
}

.tablinks{ 
    font-family: monospace;
    font-size: smaller;
    color: whitesmoke;
    flex: 1;
}

.course_contain{
    margin-top:0.5%;
    width: 100%;
    height: 100vh;
    padding : 0.2em;
    color: darkslategray;
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-wrap: wrap;
}


.sidebar {
    width: 18%;
    height: 100vh;
    background-color: rgb(223 218 223 / 0.2);
}

#head :hover {
    background-color: rgb(223 218 223 0);
}

a .links{
    cursor: pointer;
    height: 29px;
    margin: 1%;
    color: darkslategray;
    transition: all 0.2s;
}   

.alllinks :hover{
    background-color: rgb(223 218 223 / 0.5);
}


.course{
    position: absolute;
    width: 78%;
    height: 45em;
    text-align: justify;
    overflow-y: scroll;
}

.pages{
    width: 76%;
    height:  auto;
    margin: 1% 3%;
}

.title{
    font-family: monospace;
    font-variant: petite-caps;
    font-size: revert;
}
